extends base.pug

block content 
    h3=pageTitle
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Currnet Password",name="oldPassword", type="password")
        input(placeholder="New Password", name="newPassword", type="password")
        input(placeholder="Confirm Password", name="newPasswordConfirm", type="password")
        input(type="Submit" value="Change Password")